* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
    text-decoration: none;
    list-style: none;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 16%;
    background: transparent;
    transition: ease .40s;
}

.logo img {
    width: 110px;
    height: auto;
}

.navlist {
    display: flex;
}

.navlist a {
    display: inline-block;
    color: #040000;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 20px;
    margin: 0 5px;
    transition: all .40s ease;
}

.navlist a:hover {
    background: #a32e37;
    color: #fff;
}

.navlist a.active {
    background: #a32e37;
    color: #fff;
}

#menu-icon {
    color: #fff;
    font-size: 40px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 0 16%;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(ss.png.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.main-text h1 {
    font-size: 70px;
    color: #000;
    max-width: 200px;
    line-height: 1.1;
    margin: 0 0 60px 0;
}

button {
    display: inline-block;
    width: 200px;
    height: 58px;
    background: #a32e37;
    color: #fff;
    border: none;
    outline: none;
    line-height: 58px;
    font-size: 20px;
    font-weight: 300;
    transition: all .40s ease;
    cursor: pointer;
}

button:hover {
    transform: scale(0.9);
    background: #000;
    color: white;
}

.left {
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
}

.right {
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translateY(-50%);
}

@media (max-width: 1330px) {
    header {
        padding: 10px 5%;
    }
    .main-text h1 {
        font-size: 80px;
        transition: .3s;
    }
}

@media(max-width: 990px) {
    #menu-icon {
        display: block;
    }
    .navlist {
        position: absolute;
        top: -600px;
        left: 0;
        flex-direction: column;
        background: rgba(8, 5, 0, 0.9);
        text-align: left;
        transition: all .40s ease;
    }
    .navlist {
        display: block;
        padding: 1rem;
        margin: 0.5rem;
        border-left: 2px solid #fff;
        color: #fff;
    }
    .navlist.open {
        top: 100%;
    }
}

.feature-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    text-align: center;
    align-items: center;
    gap: 3rem;
}

.row-img {
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 50%;
}

.row-img img {
    width: 100%;
    display: block;
    transition: transform 0.7s;
}

.row-img img:hover {
    transform: scale(1.2);
}

.feature-content h4 {
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all .50s ease;
}

.feature-content h4:hover {
    color: #a32e37;
}

.holiday {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
}

.holiday-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.holiday-text h5 {
    font-size: 22px;
    font-weight: 600;
    color: var(#a32e37);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}

.holiday-text h2 {
    font-size: small;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
}

.holiday-text p {
    font-size: medium;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 35px;
}

.center-text {
    text-align: center;
}

.center-text h4 {
    font-size: medium;
    font-weight: 800;
}

.tour-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.box {
    position: relative;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%);
    transition: all .3s cubic-bezier(.499, cubic-bezier(0.445, 0.05, 0.55, 0.95));
    will-change: filter;
    display: block;
}

.box h4 {
    position: absolute;
    left: 25px;
    bottom: 65px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.box img:hover {
    filter: brightness(90%) hue-rotate(50deg);
    transform: scale(1.04);
    cursor: pointer;
}

.center-btn {
    text-align: center;
    margin-top: 4rem;
}

.culture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
}

.culture-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.culture-text h5 {
    font-size: 22px;
    font-weight: 600;
    color: var(#a32e37);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}

.culture-text h2 {
    font-size: small;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
}

.culture-text p {
    font-size: medium;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 35px;
}

.newsletter-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.newsletter-text h2 {
    font-size: medium;
    font-weight: 800;
    margin-bottom: 15px;
}

.newsletter-text p {
    font-size: small;
    font-weight: 500;
    color: #040000;
}

.newsletter-content form {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 1rem;
}

.newsletter-content form input:first-child {
    padding: 15px;
    background-color: #000;
    font-size: medium;
    color: white;
    border-radius: 5px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-box h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-box a {
    color: #462a2a;
    margin-bottom: 0.8rem;
    transition: all .50s ease;
}

.footer-box a:hover {
    transform: translateX(-5px);
    color: gold;
}

.social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: #202020;
    color: #a32e37;
    border-radius: 50%;
    margin-right: 8px;
    transition: transform 0.6s;
}

.social a:hover {
    background: #202020;
    color: cornflowerblue;
    transform: translateX(-4px);
}

.Copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8rem;
    color: #a32e37;
    font-size: 15px;
    font-weight: 700;
}